{% extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>



        <div id="site_content">

            {% include "inc-sidebar.html" %}

            <div>

                <div>

                </div><h1>{{ page_title }}</h1>

                <h1><a href="{% url 'account:my_articles' object.pk 'published'%}">

                    {% if object.username == request.user.username%}
                        Мои статьи
                    {% else %}
                        Статьи автора
                    {% endif %}


                </a></h1>


                <div class="card">
                    <a href="{% url 'account:personal_data' object.pk %}">
                    Личные данные
                </a>
                  <div class="card-body">

                    <h2>Имя пользователя: {{ object.username }}</h2>
                    <h3>E-mail: {{ object.email }}</h3>
                    <h3>Имя: {{ object.first_name }}</h3>
                    <h3>Фамилия: {{ object.last_name }}</h3>
                    <h3>Дата рождения: {{ object.birthday }}</h3>
                    <h3>О себе: {{ object.about_me }}</h3>
                  </div>
                </div>

                {% if object.username == request.user.username %}
                <h4><a href="{% url 'account:update' pk=object.pk %}">Редактировать профиль</a></h4>
                {% endif %}
            </div>
            <!--      <div id="banner"></div>-->
        </div>
    </div>
{% endblock %}