{% extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>
        <div id="site_content">
            {% include "inc-sidebar_account.html" %}
            <div>
                <h1>
                    {% if object.username == request.user.username %}
                        Мои статьи
                    {% else %}
                        Статьи автора
                    {% endif %}

                    {% if type == 'published' %}
                        опубликованные
                    {% elif type == 'moderation' %}
                        на модерации
                    {% elif type == 'draft' %}
                        черновики
                    {% endif %}
                </h1>

                {% if object.username == request.user.username %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'account:my_articles' object.pk 'published' %}"
                               style="margin-right:7px">
                                Опубликованные
                            </a>
                            <a href="{% url 'account:my_articles' object.pk 'moderation' %}"
                               style="margin-right:7px">
                                На модерации
                            </a>

                            <a href="{% url 'account:my_articles' object.pk 'draft' %}"
                               style="margin-right:7px">
                                Черновики
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% for item in articles %}
                    <a href="{% url 'articles:article_view' slug=item.slug %}">
                        <h4>{{ item.title }}</h4>
                    </a>
                    <h5>дата публикации:{{ item.created_at }}</h5>
                    <h5>тематика: {{ item.category }}</h5>
                    <p>{{ item.summary | safe }}</p>
                {% endfor %}
            </div>
            <!--      <div id="banner"></div>-->
        </div>
    </div>
{% endblock %}