{% extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>
        <div id="site_content">
            {% include "inc-sidebar_account.html" %}

            <div>


                <a href="{% url 'account:personal_data' object.pk %}">
                    Назад
                </a>
                <div class="card">
                  <div class="card-body">
                       {% if request.user.is_moderator%}
                            {% if object.username == request.user.username%}
                                        <a href="{% url 'account:moder_account' 'moder_article'  object.pk%}">Модерация статей</a>
                                        <a href="{% url 'account:moder_account' 'moder_user'  object.pk%}">Модерация пользователей</a>
                            {% endif %}

                        {% endif %}


                  </div>
                </div>

                {% if type_context == "moder_article"%}

                <table class="table">
                    <thead>
                    <tr style="color: black;">
                        <th scope="col" style="color: black;">id</th>
                        <th scope="col" style="color: black;">Название</th>
                        <th scope="col" style="color: black;">автор</th>
                        <th scope="col" style="color: black;">Дата создания</th>

                    </tr>

                  </thead>
                  <tbody>
                  {% for article in articles_view%}
                    <tr>

                      <th scope="row">{{article.id}}</th>
                      <td><a href="{% url 'articles:article_view' slug=article.slug %}">{{article.title}}</a></td>
                      <td>{{article.author.username}}</td>
                      <td>{{article.created_at}}</td>
                        <td>
                            <a class='approve' id='moder_{{article.id}}' href="#">Одобрить</a></td>
                        </td>
                        <td>
                            <a class='not_approve_url' href="{% url 'account:not_approve_moder' object.pk article.id %}">Не одобрить</a></td>
                        </td>

                    </tr>
                  {% endfor%}



                  </tbody>
                </table>
        {% else %}

                <table class="table">
                  <thead>
                    <tr style="color: black;">
                      <th scope="col" style="color: black;">id</th>
                      <th scope="col" style="color: black;">Username</th>
                      <th scope="col" style="color: black;">email</th>
                      <th scope="col" style="color: black;">Имя</th>
                      <th scope="col" style="color: black;">Фамилия</th>
                      <th scope="col" style="color: black;">Роль</th>
                      <th scope="col" style="color: black;">рейтинг</th>
                        <th scope="col" style="color: black;"> </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in users%}
                    <tr>

                      <th scope="row">{{user.id}}</th>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.first_name}}</td>
                      <td>{{user.last_name}}</td>
                      <td>
                          {% if user.is_superuser %}
                                admin
                          {% elif user.is_moderator%}
                              moderator
                          {% else %}
                              пользователь
                          {% endif %}
                      </td>
                        <td>
                            <input type="number" id="rating_update" min="1" max="10" value={{user.rating}}>
                        </td>
                        <td>
                            <form method="post" action="update_rating/" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                                    update
                                </button>
                            </form>
                        </td>
                        <td>
                        {% if user.is_superuser%}

                        {% else %}
                            {% if object.username != user.username%}
                                {% if user.is_active%}
                                <a class="click_user" id='block_user_{{user.pk}}' href="#">Заблокировать</a>

                              {% else %}
                                 <a class="click_user" id='block_user_{{user.pk}}' href="#">Разблокировать</a>
                              {% endif %}
                            {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor%}
                  </tbody>
                </table>

        {% endif %}

        </div>
        </div>
        </div>
        <script
                src="https://code.jquery.com/jquery-3.6.0.slim.js"
                integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
                crossorigin="anonymous">
        </script>
        <script>
            $(".approve").click(function () {

                let id_article = Number($(this).attr('id').split('_')[1])

                $.ajax({
                    type: "GET",
                    url: "/accounts/approve/approve/" + id_article + "/",

                    success: function (data) {
                        window.location.reload()
                    }
                })


            })

            $(".not_approve").click(function () {

                let id_article = Number($(this).attr('id').split('_')[1])

                $.ajax({
                    type: "GET",
                    url: "/accounts/approve/not_approve/" + id_article + "/",


                    success: function (data) {
                        window.location.reload()
                    }
                })


            })
            $(".click_user").click(function(){
                  console.log('click')
                  let id_user = Number($(this).attr('id').split('_')[2])
                  console.log(id_user)
                 $.ajax({
                    type: "GET",
                    url: "/accounts/block_user/"+id_user+"/",
                    headers:{"X-CSRFToken":"{{ csrf_token }}"},

                    success: function(data){
                        window.location.reload()
                    }
                })


            })

        </script>
{% endblock %}