{% extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>
        <div id="site_content">
            {% include "inc-sidebar.html" %}
            <div id>
                <div id="content">
                    <h1>{{ page_title }}</h1>
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                       <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}