{%extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>
        <div id="site_content">
            <!--      <div id="banner"></div>-->
            {% include "inc-sidebar.html" %}
            <div id="content">
                <!-- insert the page content here -->
                <h1>Все статьи</h1>
                <hr>
                {% for item in articles %}

                    <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
                        <img src="{{item.image.url}}" alt="" class="prod-size" style="width:100px;height:100px;">

                        <ul>
                            <li><a href="{% url 'articles:article_view' slug=item.slug %}">
                                <h4>{{item.title}}</h4>
                            </a></li>
                            <li>тематика: {{item.category}}</li>
                            <li>автор: {{item.author}}</li>
                            <li>дата публикации: {{item.created_at}}</li>
                            <li>обновлено: {{item.updated_at}}</li>
                            <li>просмотры: {{item.views}}</li>
                        </ul>
                    </div>
                    <p>{{item.summary}}</p>

                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}