{%extends "base.html" %}

{% block body %}
    <div id="main">
        <div id="content_header"></div>
        <div id="site_content">
    <!--      <div id="banner"></div>-->
            {% include "inc-sidebar.html" %}
                <div id="content">
            <!-- insert the page content here -->
                    <h1>Все статьи</h1>
                    {% for item in articles %}
                        <a href="{% url 'articles:article_view' pk=item.id %}">
                            <h4>{{item.title}}</h4>
                        </a>
                    <h5>дата публикации:{{item.created_at}}</h5>
                    <h5>тематика: {{item.category}}</h5>
                    <p>{{item.content}}</p>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}