	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Новости</h3>
            <h4>Запуск нашего сайта</h4>
            <h5>1 марта 2022</h5>
            <p>В 2022 году Компания InterGalactic Entertainment запускает образовательную экосистема, в которой любой
              человек может получить необходимые знания и навыки для успешной смены профессии и карьерного роста.
              Экосистема будет общей платформой, где выпускники могут обмениваться полезной информацией и
              формировать свою базу знаний. <br /><a href="#">Читать далее</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Тематики</h3>
            <ul>
              {% for el_categories in categories %}
                <li><a href="{% url 'articles:category_view' slug=el_categories.slug %}">
                    {{ el_categories.title }}
                </a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Поиск</h3>
            <form method="post" action="#" id="search_form">
              <p>
                  <label>
                      <input class="search" type="text" name="search_field" value="Введите слова..." />
                  </label>
                  <!--                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />-->
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>