<div id="content_footer"></div>
    <div id="footer">

      <p><a href="{% url 'articles:index_articles' %}">Home</a> | <a href="about">About</a>
    | <p><a href="http://localhost:8080/contact/">Contact</a></p>
      <p>Copyright &copy; pandora_team 2022 | <a href="https://gb.ru">Geek Brains University</a>
          | <a href="https://jigsaw.w3.org/css-validator/check/referer">Python Development Facultee</a>
          | <a href="https://www.html5webtemplates.co.uk">InterGalactic Entertainment</a></p>
    </div>