{% load static %}
<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="{% url 'articles:index_articles' %}">intergalactic<span
                    class="logo_colour">_entertainment</span></a></h1>
            <h2>знания и навыки для успешной смены профессии и карьерного роста</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->

            <li><a href="{% url 'articles:index_articles' %}">Главная</a></li>

            {% for el_categories in categories %}

                <li>
                    <a href="{% url 'articles:category_view' slug=el_categories.slug %}">
                        {{ el_categories.title }}
                    </a>
                </li>
            {% endfor %}

            <div style="float: left;
    margin-top: 6px;
margin-left: 10px;">
                <div class="dropdown">
                    <a class="" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="" src="{% static 'img/user.png' %}" style="width: 25px;"
                             alt="">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item menu_auth"
                                   href="{% url 'account:personal_data' request.user.pk %}" style="      color: black;
    background: white;">Личный кабинет: {{ request.user.username }}</a></li>
                            <li><a class="dropdown-item menu_auth"
                                   href="{% url 'account:logout' %}" style="      color: black;
    background: white;">Выйти</a></li>
                        {% else %}
                            <li><a class="dropdown-item menu_auth" href="{% url 'account:login' %}"
                                   style="      color: black;
    background: white;">Войти</a></li>
                            <li><a class="dropdown-item menu_auth"
                                   href="{% url 'account:registration' %}" style="      color: black;
    background: white;">Зарегистрироваться</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</div>


<script>
    let current = 0;
    let nav_menu = document.getElementById("menu")

    for (let i = 0; i < nav_menu.children.length; i++) {
        if (nav_menu.children[i].firstElementChild.href === nav_menu.children[i].baseURI) {
            nav_menu.children[i].className = 'selected'
        }
        console.log(nav_menu.children[i].firstElementChild.href)
        console.log(nav_menu.children[i].baseURI)
    }
</script>